# -----------------------------------------------------------------------
# Copyright (c) 2019 SAP SE or an SAP affiliate company. All rights reserved.
# -----------------------------------------------------------------------
# you can put key/value pairs here.
# Use Config.getParameter(..) to retrieve the values during runtime.

trainingTelcoAddon.key=value

# Specifies the location of the spring context file added automatically to the global platform application context.
trainingTelcoAddon.application-context=trainingTelcoAddon-spring.xml

yacceleratorstorefront.additionalWebSpringConfigs.trainingTelcoAddon=classpath:/trainingTelcoAddon/web/spring/trainingTelcoAddon-web-spring.xml



trainingTelcoAddon.javascript.paths.responsive=/responsive/common/js/trainingTelcoAddon.js
trainingTelcoAddon.css.paths.responsive=/responsive/common/css/trainingTelcoAddon.css
